.royal-assets-container {
  background-color: rgb(247, 195, 195);
  font-family: "Great Vibes", cursive;
  color: #333;
}

.royal-assets-container h2 {
  font-size: 44px;
  color: white;
  text-shadow: 1px 1px #333;
  text-align: left;
}

.royal-assets-container table {
  border-collapse: collapse;
  width: 100%;
}

.royal-assets-container th {
  background-color: rgb(220, 231, 247);
  height: 40px;
  font-size: 25px;
}

.royal-assets-container td {
  background-color: rgb(248, 206, 187);
  height: 50px;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 767px) {
  .royal-assets-container {
    padding: 20px;
  }

  .royal-assets-container h2 {
    font-size: 28px;
    text-align: center;
  }

  .royal-assets-container table {
    font-size: 14px;
    margin: 0 auto;
  }

  .royal-assets-container th {
    height: 30px;
    font-size: 16px;
  }

  .royal-assets-container td {
    height: 40px;
    font-size: 14px;
  }
}
